.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.form-input {
    display: grid;
    justify-items: left;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0.5em;
}

.form-input label {
    grid-row: 1;
}

.form-input input, .form-input textarea, .form-input button {
    grid-row: 2;
}

.date-time-grid {
    display: grid;
    justify-items: left;
    grid-template-columns: 10em 10em;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0.5em;
}

.date-time-grid label {
    grid-row: 1;
}

.date-time-grid input {
    grid-row: 2;
    width: fit-content;
}

.create-event-form label {
    padding-right: 10px;
}

.create-event-form label, 
.create-event-form input, 
.create-event-form button, 
.create-event-form textarea {
    /* display: table-cell; */
    margin-bottom: 10px;
}

.create-event-form input[type=text], .create-event-form input[type=time], .create-event-form input[type=date], .create-event-form textarea{
    border: 1px solid #ccc;
    transition: 0.5s;
}

.create-event-form input[type=text]:focus, .create-event-form input[type=time]:focus, .create-event-form input[type=date]:focus, .create-event-form textarea:focus{
    border: 3px solid #555;
}


.create-event-form textarea{
    resize: none;
}

.create-event-form input[type=submit] {
    padding: 6px 15px;
    border: none;
    cursor: pointer;
}

.create-event-form input[type=submit]:hover{
    background-color: aquamarine;
}