body{
    background-color: lightgrey;
}



/* Style the header */
header {
    padding: 30px;
    text-align: center;
    font-size: 45px;
    color: black;
    font-family: sans-serif;
    background-color: white;
}

h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
h6{
    background-color: lightgray;
}
p{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: black;
}



.centerPage{
    margin-left: auto;
    margin-right: auto;
    max-width:2000px;
    max-height:2000px;

}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

/*button style*/
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}


.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}